.UserBox {
	width: 30%;
	height: 150px;
	margin: 10px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.1);
	background-color: white;
	padding: 20px 0px 0px 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.UserBox:hover {
	cursor: pointer;
}

.Name {
	font-size: 14pt;
	font: caption;
	font-weight: bold;
}

.Phone {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.email {
	margin-top: 10px;
	text-decoration: underline;
	display: flex;
	align-items: center;
}
